{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<main class="container">
  
  <div class="card-container">
    <!------------------- cartões -------------------->
    {% for note in notes %}
    <div class="card">
      <!-------------- botão editar --------------->
      <p class="card-tag" name="tag-{{note.id}}">{{note.tag}}</p>

      <a class="edit-content" onclick="editCard('{{note.id}}')">
        <img class="img_edit" src="{% static 'notes/img/pencil.png' %}" alt="Botão de Editar">
      </a>

      <!-------------- botão excluir --------------->
        <a class="close-container" onclick="deleteCard('{{note.id}}')">
          <div class="leftright"></div>
          <div class="rightleft"></div>
          <label class="close">Delete</label>
        </a>

      <form name="deleteCard-{{note.id}}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{note.id}}" /> 
      </form>
      
      <!-------------- conteúdo --------------->
      <h3 class="card-title" name="title-{{note.id}}">{{note.title}}</h3>
      <div class="card-content">
        <p name="content-{{note.id}}">{{note.content}}</p>
      </div>

    </div>
    {% endfor %}
    <!------------- fim cartões ------------->
  </div>

</main>
{% endblock %}