{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="wrapper">
      <h1>Lista de Tags</h1>
        <ol >
          {% for note in notes %}
          <li>
            <a onclick="redirectTag()">{{note.tag}}</a>
          </li>
        
          <form name="tag_redirect" method="post">
            {% csrf_token %}
            <input type="hidden" name="redirect_tag" value="{{note.tag}}" /> 
          </form> 
          {% endfor %}
        </ol>

    </div>  
</main>
{% endblock %}